<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TablicaWynikow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TablicaWynikow.Properties.Settings>
            <setting name="CzasGry" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WysokoscOkna" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SzerokoscOkna" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Typ" serializeAs="String">
                <value />
            </setting>
            <setting name="Sport" serializeAs="String">
                <value />
            </setting>
            <setting name="NazwaGosp" serializeAs="String">
                <value />
            </setting>
            <setting name="OpisGosp" serializeAs="String">
                <value />
            </setting>
            <setting name="GospZdj" serializeAs="String">
                <value />
            </setting>
            <setting name="NazwaGosc" serializeAs="String">
                <value />
            </setting>
            <setting name="OpisGosc" serializeAs="String">
                <value />
            </setting>
            <setting name="GoscZdj" serializeAs="String">
                <value />
            </setting>
            <setting name="KolorCzcionka" serializeAs="String">
                <value />
            </setting>
            <setting name="KolorTło" serializeAs="String">
                <value />
            </setting>
            <setting name="DoliczonyCzas" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Start" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YCH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YCG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RCH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RCG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GoleGosc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GoleGosp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="relacja" serializeAs="String">
                <value />
            </setting>
            <setting name="SciezkaZRelacja" serializeAs="String">
                <value />
            </setting>
            <setting name="QFaulsH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QFaulsG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllFaulsH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllFaulsG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PunktyH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PunktyG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CalkowityCzas" serializeAs="String">
                <value>0</value>
            </setting>
        </TablicaWynikow.Properties.Settings>
    </userSettings>
</configuration>